In [1]:
%load_ext autoreload
%autoreload 2

In [110]:
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import pandas
import datetime
from imdb import IMDb

In [4]:
movies = pandas.read_csv('movies.csv')

In [25]:
votes = pandas.read_csv('responses.csv')

In [23]:
num_draws = 3
for genre in movies.keys():
    tally = 0
    for movie in movies[genre]:
        if isinstance(movie,str):
            tally+=1
    if tally != 0.0 and genre not in ['MISC','Should Probably be Previewed...']:
        print('genre: ',genre)
        rand_choices = np.random.choice(tally,num_draws)
        rand_movies = [rm for rm in movies[genre][choices]]
        print('Movie Selection: ',rand_movies)
        print('')

genre:  HORROR
Movie Selection:  ['Get Out (2016)', 'Night of the Living Dead (1968)', "Rosemary's Baby (1968)"]

genre:  ROMANCE
Movie Selection:  ['Harold and Maude (1971)', 'The Little Hours (2017)', 'Punch-Drunk Love (2002)']

genre:  ACTION
Movie Selection:  ['The Raid: Redemption (2011)', 'Raiders of the Lost Ark (1981)', 'Goodfellas (1990)']

genre:  DRAMA (Pre-2010)
Movie Selection:  ['Eraserhead (1977)', 'A Very Long Engagement (2004)', 'Citizen Kane (1941)']

genre:  DRAMA (Post-2010)
Movie Selection:  ['Nocturama (2016)', 'The Other Side of the Wind (2018)', 'Dunkirk (2017)']

genre:  SCIFI/Fantasy
Movie Selection:  ['Naked Lunch (1991)', 'Upstream Color (2013)', 'Passengers (2016)']

genre:  "ANIMATION"
Movie Selection:  ['Ninja Scroll (1993)', 'Pom Poko (1994)', 'Anomalisa (2015)']

genre:  COMEDY
Movie Selection:  ['Big Trouble (2002)', 'the little hours (2017)', 'Adaptation (2002)']

genre:  BAD MOVIES
Movie Selection:  ['Escape From LA (1996)', 'Space Cop (2016)', 'Troll 2 (1990)']

genre:  DOCUMENTARY
Movie Selection:  ['Room 237 (2012)', 'Lorena, Light-footed Woman (2019)', 'How to Survive a Plague (2012)']

In [50]:
print(votes.keys())

Index(['Timestamp', 'First Choice', 'Second Choice', 'Third Choice',
       'Fourth Choice', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [79]:
vote_groups = {}
for dates,first,second,third,fourth in zip(votes['Timestamp'],votes['First Choice'],votes['Second Choice'],
                                           votes['Third Choice'],votes['Fourth Choice']):
    date = [int(d) for d in dates.split(' ')[0].split('/')]
    time = [int(t) for t in dates.split(' ')[1].split(':')]
    full_date = datetime.datetime(date[2], date[0], date[1], hour=time[0], minute=time[1], second=time[2])
    if str(full_date.date()) not in vote_groups.keys():
        vote_groups[str(full_date.date())] = {}
    if first not in vote_groups[str(full_date.date())].keys():
        vote_groups[str(full_date.date())][first]=1
    else:
        vote_groups[str(full_date.date())][first]+=1
        
    if second not in vote_groups[str(full_date.date())].keys():
        vote_groups[str(full_date.date())][second]=1
    else:
        vote_groups[str(full_date.date())][second]+=1
        
    if third not in vote_groups[str(full_date.date())].keys():
        vote_groups[str(full_date.date())][third]=1
    else:
        vote_groups[str(full_date.date())][third]+=1
        
    if fourth not in vote_groups[str(full_date.date())].keys():
        vote_groups[str(full_date.date())][fourth]=1
    else:
        vote_groups[str(full_date.date())][fourth] += 1

In [82]:
print(vote_groups.keys())
print(vote_groups['2020-10-17'])

dict_keys(['2020-05-23', '2020-05-30', '2020-06-13', '2020-06-20', '2020-06-27', '2020-07-11', '2020-07-25', '2020-08-01', '2020-08-08', '2020-08-29', '2020-09-05', '2020-09-12', '2020-09-14', '2020-09-19', '2020-09-26', '2020-10-03', '2020-10-10', '2020-10-17'])
{'The Grudge (2004)': 1, 'My Name is Nobody (1973)': 2, 'Brick (2005)': 2, 'Kung Fury (2015)': 5, 'The Velocipastor (2018)': 8, 'Summer Wars (2009)': 4, 'Under the Tuscan Sun (2003)': 1, 'Free Solo (2018)': 1}

In [109]:
#datetime.date.today()
day = '2020-10-17'
sorted_votes = sorted(vote_groups[day].items(), key=lambda x: x[1], reverse=True)
print('     Movies \t\t\t       Votes')
print('')
for mov,vs in sorted_votes:
    
    if len(mov) > 20:
        tabs = '\t\t'
    elif len(mov) < 15:
        tabs = '\t\t\t\t'
    else:
        tabs = '\t\t\t'
    print(mov,tabs,vs)

     Movies 			       Votes

The Velocipastor (2018) 		 8
Kung Fury (2015) 			 5
Summer Wars (2009) 			 4
My Name is Nobody (1973) 		 2
Brick (2005) 				 2
The Grudge (2004) 			 1
Under the Tuscan Sun (2003) 		 1
Free Solo (2018) 			 1

In [111]:
# create an instance of the IMDb class
ia = IMDb()

In [ ]:
ia.

In [117]:
print(sorted_votes[0][0])

The Velocipastor (2018)

In [132]:
morvie = sorted_votes[0][0]
i = 0
imdb_movie = ia.search_movie(morvie)[i]
if 'movie' not in imdb_movie['kind']:
    imdb_movie = ia.search_movie(morvie)[i+1]

In [133]:
print([blorp['kind'] for blorp in ia.search_movie(morvie)])

['movie', 'episode', 'episode', 'video movie', 'episode']

In [135]:
imdb_movie.keys()

['title',
 'kind',
 'year',
 'cover url',
 'canonical title',
 'long imdb title',
 'long imdb canonical title',
 'smart canonical title',
 'smart long imdb canonical title',
 'full-size cover url']

In [137]:
imdb_movie.current_info

[]

In [136]:
imdb_movie['year']

2018

In [143]:
import mysql.connector as mysql

# insert MySQL Database information here
HOST = "localhost"
DATABASE = ""
USER = "root"
PASSWORD = ""

# connect to the database
db_connection = mysql.connect(host=HOST, database=DATABASE, user=USER, password=PASSWORD)
# get server information
print(db_connection.get_server_info())
#mycursor = mydb.cursor()

#mycursor.execute("CREATE DATABASE movies CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci")

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost' (61)