In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas
import datetime
from imdb import IMDb

In [1]:
movies = pandas.read_csv('./Misc_Files/movies.csv',)

NameError: name 'pandas' is not defined

In [4]:
num_draws = 5
movie_selection = pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
#np.zeros((num_draws+1,10),dtype=str)
for i,genre in enumerate(movies.keys()):
    tally = 0
    for movie in movies[genre]:
        if isinstance(movie,str):
            tally+=1
    if tally != 0 and genre not in ['MISC','Should Probably be Previewed...']:
        rand_choices = np.random.choice(tally,num_draws)
        rand_movies = [rm for rm in movies[genre][rand_choices]]
        movie_selection.insert(i, genre, rand_movies, allow_duplicates=False)
movie_selection

,HORROR,ROMANCE,ACTION,DRAMA (Pre-2010),DRAMA (Post-2010),SCIFI/Fantasy,"""ANIMATION""",COMEDY,BAD MOVIES,DOCUMENTARY
0,Antichrist (2009),Dina (2017),The Man with One Red Shoe (1985),Battle of Algiers (1966),Margaret (2011),Arrival (2016),Nausicaa of the Valley of the Wind (1984),The way way back (2013),Surf Ninjas (1993),Hearts and Minds (1974)
1,Vampires (1998),"Crazy, Stupid, Love (2011)",The Poseidon Adventure (1972),A Very Long Engagement (2004),First Man (2018),Dredd (2012),This Corner of the World (2016),Palm Springs (2020),Serenity (2019),Free Solo (2018)
2,hereditary (2018),Casablanca (1942),Taxi Driver (1976),Thin Red Line (1999),Boys in the Trees (2017),Melancholia (2011),Whisper of the Heart (1995),American Splendor (2003),Killer Sofa (2019),"Lorena, Light-footed Woman (2019)"
3,The Evil Dead (1981),Lover for a Day (2017),Overlord (2018),Cape Fear (1962),Silence (2016),Sky Captain and the World of Tomorrow (2004),Wolfwalkers (2020),Paddington 2 (2017),Suburban Sasquatch,Taxi to the Dark Side (2007)
4,The Invitation (2015),The Holiday (2006),Once upon a time in the west (1968),Seven Samurai (1954),Support the Girls (2018),A.I. Artificial Intelligence (2001),Neo Tokyo (1987),Inherent Vice (2014),Killer Sofa (2019),Hearts and Minds (1974)

In [12]:
votes = pandas.read_csv('./Misc_Files/results.csv')

In [13]:
vote_groups = {}
for dates,first,second,third,fourth in zip(votes['Timestamp'],votes['First Choice'],votes['Second Choice'],
                                           votes['Third Choice'],votes['Fourth Choice']):
    date = [int(d) for d in dates.split(' ')[0].split('/')]
    time = [int(t) for t in dates.split(' ')[1].split(':')]
    full_date = datetime.datetime(date[2], date[0], date[1], hour=time[0], minute=time[1], second=time[2])
    if str(full_date.date()) not in vote_groups.keys():
        vote_groups[str(full_date.date())] = {}
    if first not in vote_groups[str(full_date.date())].keys():
        vote_groups[str(full_date.date())][first]=1
    else:
        vote_groups[str(full_date.date())][first]+=1
        
    if second not in vote_groups[str(full_date.date())].keys():
        vote_groups[str(full_date.date())][second]=1
    else:
        vote_groups[str(full_date.date())][second]+=1
        
    if third not in vote_groups[str(full_date.date())].keys():
        vote_groups[str(full_date.date())][third]=1
    else:
        vote_groups[str(full_date.date())][third]+=1
        
    if fourth not in vote_groups[str(full_date.date())].keys():
        vote_groups[str(full_date.date())][fourth]=1
    else:
        vote_groups[str(full_date.date())][fourth] += 1

In [14]:
print(vote_groups.keys())
print(vote_groups['2020-10-17'])

dict_keys(['2020-05-23', '2020-05-30', '2020-06-13', '2020-06-20', '2020-06-27', '2020-07-11', '2020-07-25', '2020-08-01', '2020-08-08', '2020-08-29', '2020-09-05', '2020-09-12', '2020-09-14', '2020-09-19', '2020-09-26', '2020-10-03', '2020-10-10', '2020-10-17', '2020-10-24', '2020-11-07', '2020-11-14', '2020-11-21', '2020-11-28', '2020-12-05', '2020-12-12', '2020-12-19', '2021-01-02', '2021-01-09', '2021-01-16', '2021-01-23', '2021-01-30', '2021-02-06', '2021-02-13', '2021-02-20', '2021-02-27', '2021-03-06', '2021-03-13', '2021-03-20', '2021-03-27', '2021-04-03', '2021-04-04', '2021-04-10', '2021-04-17', '2021-04-23', '2021-04-24', '2021-05-01', '2021-05-08', '2021-05-22', '2021-06-05', '2021-06-19', '2021-06-26', '2021-07-17', '2021-07-24', '2021-08-14', '2021-08-21', '2021-08-28', '2021-11-20'])
{'The Grudge (2004)': 1, 'My Name is Nobody (1973)': 2, 'Brick (2005)': 2, 'Kung Fury (2015)': 5, 'The Velocipastor (2018)': 8, 'Summer Wars (2009)': 4, 'Under the Tuscan Sun (2003)': 1, 'Free Solo (2018)': 1}

In [15]:
sorted_votes = sorted(vote_groups['2020-10-17'].items(), key=lambda x: x[1], reverse=True)
sorted_votes

[('The Velocipastor (2018)', 8),
 ('Kung Fury (2015)', 5),
 ('Summer Wars (2009)', 4),
 ('My Name is Nobody (1973)', 2),
 ('Brick (2005)', 2),
 ('The Grudge (2004)', 1),
 ('Under the Tuscan Sun (2003)', 1),
 ('Free Solo (2018)', 1)]

In [16]:
vote_groups['2020-10-17']

{'The Grudge (2004)': 1,
 'My Name is Nobody (1973)': 2,
 'Brick (2005)': 2,
 'Kung Fury (2015)': 5,
 'The Velocipastor (2018)': 8,
 'Summer Wars (2009)': 4,
 'Under the Tuscan Sun (2003)': 1,
 'Free Solo (2018)': 1}

In [17]:
#vote_group_today = {key:[val] for key,val in vote_groups['2020-10-17'].items()}
#vote_group_today

vote_df_today = pandas.DataFrame.from_dict({key:[val] for key,val in vote_groups['2020-10-17'].items()})
vote_df_today = vote_df_today.rename(index={0:"Votes"})
#vote_df_today
vote_df_today = vote_df_today.T
vote_df_today.sort_values(by="Votes",ascending=False)

                             Votes
The Velocipastor (2018)          8
Kung Fury (2015)                 5
Summer Wars (2009)               4
My Name is Nobody (1973)         2
Brick (2005)                     2
The Grudge (2004)                1
Under the Tuscan Sun (2003)      1
Free Solo (2018)                 1

In [18]:
day = str(datetime.date.today())
vot_tot = 0
vote_df_today = pandas.DataFrame.from_dict({key:[val] for key,val in vote_groups[day].items()})
vote_df_today = vote_df_today.rename(index={0:"Votes"})
vote_df_today = vote_df_today.T
#print(vote_df_today.keys())

print(vote_df_today.sort_values(by="Votes",ascending=False))
print('')
print('Total People:',int(vote_df_today["Votes"].sum()/4),'Total Votes:',vote_df_today["Votes"].sum())

                             Votes
Pig (2021)                       5
Rear Window (1954)               4
Watch Out, We're Mad (1974)      3
Suspiria (1977)                  2
A Fistful of Dollars (1964)      1
Metropolis (1927)                1

Total People: 4 Total Votes: 16